<!DOCTYPE html>
<html>
	<head>
		<title>Apps &agrave; la carte</title>
		<script src="./bower_components/angular/angular.js"></script>
		<style>@font-face{font-family:"Lato";font-style:normal;font-weight:400;src:url("./Lato.woff2");}</style>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> -->
		<script src="./js/main.module.js"></script>
		<script src="./js/main.controller.js"></script>
		<script src="./js/choice.factory.js"></script>
		<script src="./js/field.factory.js"></script>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body data-ng-app="estimator">

		<div>
			<h1>Estimate your app</h1>

			<p>Mix and match the components below to flesh out your idea and estimate its complexity (in &ldquo;points&rdquo;).</p>
		</div>

		<div data-ng-controller="mainController as main">
			<section class="field" data-ng-repeat="field in main.fields">
				<header>
					<span class="points total">{{field.total}}</span>
					<div class="info">
						<h2>{{::field.name}}</h2>
						<p>{{::field.desc}}</p>
					</div>
				</header>
				<div class="choice" data-ng-repeat="choice in field.choices">
					<label
						data-ng-class="['points', 'toggle', {on: choice.input > 0}]"
						data-ng-attr-for="{{::choice.id}}"
					>
						<input
							data-ng-attr-id="{{::choice.id}}"
							data-ng-change="main.recalculate()"
							data-ng-model="choice.input"
							data-ng-attr-type="{{choice.type == 'number' ? 'text' : 'checkbox'}}"
							placeholder="0"
						/>
						<span>{{::choice.points}}</span>
					</label>
					<div class="info">
						<h3>{{::choice.name}}</h3>
						<p>{{::choice.desc}}</p>
					</div>
				</div>
			</section>
		</div>

	  <!-- <script type="text/javascript">
	    (function(d,s,i,r) {
	      if (d.getElementById(i)){return;}
	      var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
	      n.id=i;n.src='//js.hs-analytics.net/analytics/'+(Math.ceil(new Date()/r)*r)+'/211554.js';
	      e.parentNode.insertBefore(n, e);
	    })(document,"script","hs-analytics",300000);
	  </script> -->

	</body>
</html>
