<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>MentorMate | Estimate your app</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
		<script src="./main.js"></script>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body data-ng-app="estimator" data-ng-controller="mainController as main">

		<section class="epics">
			<header>
				<h1>Estimate Your App</h1>

				<p>Pick the features you want. This tool will estimate its <strong>complexity</strong> in &ldquo;points&rdquo;, and its <strong>cost</strong> if you have it developed by an established company like <a href="http://mentormate.com">ours</a>. For example, you can <a data-ng-href="{{main.exampleLink}}" class="button">estimate this estimator.</a></p>

				<p><strong>This isn't a quote. It's a conversation-starter.</strong> Our aim is to give a sense of how development choices affect cost. How much your app <em>actually</em> costs will depend on the details. To get a formal estimate, <a href="#contact">let's talk.</a></p>

				<p><a href="http://mentormate.com/blog/estimate-development-costs/">Here's a blog post explaining why we built this.</a></p>
			</header>

			<div id="complexity" class="sticky">
				<div data-ng-class="['graph', main.progress > 0 ? 'on' : 'off']">
					<span class="intervals">
						<span
							data-ng-repeat="level in ::main.complexity_levels"
							data-ng-style="::{width: (level / main.graph.diff) + '%'}"
						>{{::level}}</span>
					</span>
					<span class="progress" data-ng-style="{width: main.progress + '%'}">
						<span>{{main.total || ""}}</span>
					</span>
				</div>

				<p data-ng-class="['details', main.showDetails ? 'on' : 'off']">
					<span data-ng-show="main.level">
						An app with the selected features would be <em>{{main.level.adj}} complex</em> to develop.
						<a data-ng-href="{{main.saveLink}}" class="button">Link to this setup</a>
						<a data-ng-click="main.reset()" class="button">Reset</a>
					</span>
					<span data-ng-show="!main.level">
						Try selecting some features.
					</span>
				</p>

				<label class="toggleDetails">
					<input type="checkbox" data-ng-model="main.showDetails" />
					&utrif;
				</label>
			</div>

			<div class="recordset">
				<div class="header" data-ng-repeat-start="epic in ::main.epics">
					<div>
						<span class="input">{{epic.total}}</span>
					</div>
					<div>
						<h2>{{::epic.name}}</h2>
						<p>{{::epic.desc}}</p>
					</div>
				</div>

				<div class="record" data-ng-repeat-end data-ng-repeat="feature in ::epic.features">
					<div>
						<input
							class="input"
							data-ng-attr-id="{{::feature.id}}"
							data-ng-change="main.recalculate()"
							data-ng-model="feature.input"
							data-ng-attr-type="{{::feature.type == 'number' ? 'text' : 'checkbox'}}"
							placeholder="0"
						/>
						<label data-ng-attr-for="{{::feature.id}}">
							{{::feature.points}}
						</label>
					</div>
					<div>
						<h3>{{::feature.name}}</h3>
						<p data-ng-bind-html="::feature.desc | htmlSafe"></p>
					</div>
				</div>
			</div>
		</section>

		<section class="devs">
			<header>
				<h1>So how much will that cost?</h1>

				<p>That depends on who builds it.</p>

				<p>Based on the <strong>complexity</strong> above, we've estimated the <strong>cost</strong> of developing with an established development company like ours. Compare us to your other options.</p>
			</header>

			<div class="recordset">

				<div
					data-ng-repeat="dev in ::main.devs"
					data-ng-class="['record', 'condition', dev.isVisible ? 'on' : 'off']"
				>
					<div>
						<input
							class="input"
							type="checkbox"
							data-ng-model="dev.isVisible"
							data-ng-attr-id="{{::dev.id}}"
						/>
						<label
							data-ng-attr-for="{{::dev.id}}"
							data-rating="{{dev.isVisible ? dev.overall : ''}}"
						>&ZeroWidthSpace;</label>
					</div>
					<div>
						<h2>{{::dev.name}}</h2>
						<blockquote>{{::dev.desc}}</blockquote>
						<div class="conditional">
							<div class="ratings">
								<span
									data-ng-repeat="(key, val) in ::dev.rating"
									data-rating="{{::val}}"
								>
									{{::key}}<br />{{::val}}/3
								</span>
							</div>
							<p><strong>Pros:</strong> {{::dev.pros}}</p>
							<p><strong>Cons:</strong> {{::dev.cons}}</p>
							<p><strong>Good if:</strong> {{::dev.good_if}}</p>
							<div data-ng-if="::dev.id == 'dev_mentormate'">
								<p data-ng-show="!main.level">
									<strong>Cost:</strong> You've entered nothing, which costs nothing! Pick some options above.
								</p>
								<div data-ng-show="main.level">
									<p><strong>Cost:</strong> Your idea, which is <em>{{main.level.adj}} complex</em>, will probably be in the ballpark of {{main.level.range || "$###"}} if you develop with <a href="http://mentormate.com">MentorMate</a>.</p>

									<p>The <em>actual</em> cost will depend on details like industry regulation, the  caliber of existing code, and the level of integration needed. <a href="#contact">Want to talk through it?</a></p>
								</div>
							</div>
							<p data-ng-if="::dev.id != 'dev_mentormate'">
								<strong>Where:</strong> To find a {{::dev.name | lowercase}}
								<span data-ng-show="main.dev != 'dev_mentormate'">{{::dev.find_where}}</span>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="contact">
			<header>
				<h1>Have questions?</h1>

				<p>Whether you want to start development today or you're not sure what to do next, we're here to be a resource for you.</p>

				<p>Tell us a bit about the development you're considering. One of us &mdash; <a href="http://mentormate.com">MentorMate's</a> Solutions Architects &mdash; will respond to you as soon as we can.</p>
			</header>
			<div id="form"></div>
		</section>

	</body>
</html>
