$mm-blue: #46A3E2;
$mm-dblue: #231E20;
$mm-red: #EF4B3E;

@mixin hidden{
  display:block;
  width:1px;
  height:1px;
  opacity:0.01;
  position:absolute;
  overflow:hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  text-decoration: inherit;
  line-height: inherit;
  color: inherit;
}
*:focus{
	outline:none;
}
html, body {
  font-family: Lato, Helvetica, sans-serif;
  color: $mm-dblue;
  font-size: 15px;
  line-height: 25px;
}
body{
	margin:0 auto;
	max-width:1000px;
}
h1{
	font-size:50px;
  line-height:50px;
	margin:25px 0;
}
p{
  text-align:left;
	margin-bottom:25px;
}
em{
	font-style:italic;
}
strong{
	font-weight:bold;
	text-decoration:underline;
}
label{
	cursor:pointer;
}
a{
	color:$mm-red;
	text-decoration:underline;
}

[type=checkbox]{
	@include hidden;
}

.field{
	a{
		color:#fff;
	}
	& > *{
		display:flex;
		align-items:flex-start;
		padding-top:15px;
		padding-bottom:10px;
	}
	header{
		background-color:$mm-blue;
		border-top:5px solid $mm-dblue;
		color:#fff;
	}
	.info{
		padding-right:10px;
	}
	.choice{
		border-bottom:1px solid #eee;
		&:last-child{
			border-bottom:0;
		}
		&:hover{
			background-color:#f9f9f9;
		}
	}
	h2,h3{
		font-size:20px;
		margin-bottom:10px;
	}
	p{
		margin-bottom:10px;
	}
}
.points{
	flex-basis:40px;
	flex-shrink:0;
	text-align:center;
	font-size:20px;
	line-height:40px;
	height:40px;
	margin:5px 10px;
	border:0.2em solid #e9e9e9;
	background-color:#fff;
	color:#aaa;

	&.total{
		border-color:transparent;
		background-color:rgba(0,0,0,0.2);
		color:#fff;
	}

	&.toggle:hover{
		border-color:#aaa;
	}

	&.on{
		background-color:$mm-red !important;
		border-color:transparent !important;
		color:#444;
	}

	[type=text]{
		background-color:transparent;
		text-align:center;
		& + *{
			&:before{
				content:" x";
				font-size:10px;
			}
		}
		&,
		& + *{
			display:block;
			width:50%;
			float:left;
		}
	}
}

.important{
	background-color:$mm-red;
}
.error{
  color:$mm-red;
}

section{
	margin-bottom:100px;

	& > *{
		padding:0 10px;
	}
	& > .field{
		padding:0;
	}
}
