* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  text-decoration: inherit;
  line-height: inherit;
  color: inherit;
}

*:focus {
  outline: none;
}

html, body {
  font-family: Lato, Helvetica, sans-serif;
  color: #231E20;
  font-size: 14px;
  line-height: 24px;
}

body {
  margin: 0 auto;
  max-width: 1000px;
}

h1 {
  font-size: 4em;
  line-height: 1em;
  margin: 0.5em 0;
}

p {
  text-align: left;
  margin-bottom: 1.5em;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
  text-decoration: underline;
}

label {
  cursor: pointer;
}

a {
  color: #EF4B3E;
  text-decoration: underline;
}

[type=checkbox] {
  display: block;
  width: 1px;
  height: 1px;
  opacity: 0.01;
  position: absolute;
  overflow: hidden;
}

.field > * {
  display: flex;
  align-items: flex-start;
}
.field header {
  background-color: #46A3E2;
  color: #fff;
}
.field .info {
  padding-top: 0.5em;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
}
.field .choice {
  border-bottom: 1px solid #eee;
}
.field .choice:last-child {
  border-bottom: 0;
}
.field .choice:hover {
  background-color: #f9f9f9;
}
.field h2, .field h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.field p {
  margin-bottom: 0;
}

.points {
  flex-basis: 2em;
  flex-shrink: 0;
  text-align: center;
  font-size: 1.5em;
  line-height: 2em;
  height: 2em;
  margin: 0.5em;
  border: 0.2em solid #e9e9e9;
  background-color: #fff;
  color: #aaa;
}
.points.total {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}
.points.toggle:hover {
  border-color: #aaa;
}
.points.toggle.on {
  background-color: #EF4B3E !important;
  border-color: transparent;
  color: #444;
}
.points [type=text] {
  background-color: transparent;
  text-align: center;
}
.points [type=text] + *:before {
  content: " x";
  font-size: 0.5em;
}
.points [type=text], .points [type=text] + * {
  display: block;
  width: 50%;
  float: left;
}

.important {
  background-color: #EF4B3E;
}

.error {
  color: #EF4B3E;
}
