$mm-blue: #46A3E2;
$mm-dblue: #231E20;
$mm-red: #EF4B3E;
$mm-green: #66CC99;
$mm-yellow: #FFCC33;
$f:17px;
$l:27px;
$b:4px;
$mw:1000px;
$mob:500px;
$p: 10px;

@mixin hidden{
  display:block;
  width:1px;
  height:1px;
  opacity:0.01;
  position:absolute;
  overflow:hidden;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  text-decoration: inherit;
  line-height: inherit;
  color: inherit;
}
*:focus{
	outline:none;
}
html, body {
  font-family: Lato, Helvetica, sans-serif;
  color: $mm-dblue;
  font-size: $f;
  line-height: $l;
}
body{
	margin:0 auto;
	margin-bottom:50px;
	max-width:$mw;
}
div{
	position:relative;
	overflow:auto;
}
h1{
	font-size:50px;
  line-height:50px;
	margin:50px 0;
}
h2,
h3{
	font-weight:bold;
}
p,
blockquote{
	margin-bottom:$l;
}
em{
	font-style:italic;
}
strong{
	font-weight:bold;
	text-decoration:underline;
}
label{
	cursor:pointer;
}
a{
	cursor:pointer;
	color:$mm-blue;
	&:hover{
		text-decoration:underline;
	}
}
blockquote{
	font-style:italic;
}
ul, ol{
	list-style-position:inside;
}

.recordset{
	display:table;
	width:100%;

	& > *{
		display:table-row;

		& > *{
			display:table-cell;
			position:relative;
			vertical-align:top;
			padding-top:$l;
			padding-left:$p;
			border-bottom:1px solid #eee;

			&:last-child{
				padding-right:$p;
			}
		}
	}
}

.input{

	@at-root span#{&},
	& + label,
	&[type=text]{
		display:inline-block;
		text-align:center;
		font-size:$f;
		width:2*$l;
		line-height:2*($l - $b);
		height:2*$l;
		background-color:rgba(0,0,0,0.2);
		border:$b solid transparent;
		box-sizing:border-box;
	}

	&[type=text],
	& + label{
		background-color:#fff;
		border-color:#e9e9e9;
		color:#aaa;
	}

	&[type]:hover,
	&[type]:hover + label{
		border-color:#ddd;
	}

	&:checked,
	&[type=text].ng-not-empty{
		&,
		& + label{
			background-color:$mm-green;
			border-color:transparent !important;
			color:#444;
		}
	}

	&[type=radio],
	&[type=checkbox]{
		@include hidden;
	}

	&[type=radio] + label{
		border-radius:50%;
	}

	&[type=text]{
		margin-right:0;
		border-right-width:0;

		&{
			width:$l;
			float:left;
		}

		& + label{
			width:$l;
			border-left-width:0;

			&:before{
				content:"x";
				font-size:$f/2;
				float:left;
			}
		}
	}
}

.epics{
	.record{
		&:last-child{
			border-bottom:0;
		}
		&:hover{
			background-color:#f9f9f9;
		}
	}
	.header{
		background-color:$mm-blue;
		color:#fff;
	}
}

.devs{
	.recordset{
		& > *{
			&:first-child > *{
				border-top:1px solid #bbb;
			}
			&:first-child{
				h2{
					text-decoration:underline;
					color:$mm-blue;
				}
			}
			& > *{
				border-bottom:1px solid #bbb;
				background-color:#f0f0f0;
			}
			&:hover > *{
				background-color:#f9f9f9;
			}
			& .input + label{
				color:#fff;
			}
			& .input + label:after{
				content:"\02713";
			}
			&:hover .input + label{
				color:#ddd !important;
			}
			& .input + label:hover{
				color:#999 !important;
			}
			& .input:checked + label{
				color:#000 !important;
			}
			&.on > *{
				background-color:#fff;

				@media (max-width:$mob){
					blockquote{
						margin-bottom:0;
					}
				}
			}
		}
	}
}

.ratings{
	float:right;
	margin-left:$p;
	margin-bottom:$p;
	margin-top:$p;

	@media(max-width: $mob){
		float:none;
		margin-left:0;
	}

	[data-rating]{
		display:inline-block;
		width:2*$l;
    height:2*$l;
		font-size:0.7 * $f;
		line-height:$f;
		padding-top:($l - $f);
		border-radius:50%;
		text-align:center;
		vertical-align:top;
		box-sizing:border-box;
		margin:0 2px;
		color:#000;
	}
}
[data-rating="1"]{
	background-color:$mm-red !important;
}
[data-rating="2"]{
	background-color:$mm-yellow !important;
}
[data-rating="3"]{
	background-color:$mm-green !important;
}

.condition{
	& .conditional{
		display:none;
	}
	&.on .conditional{
		display:block;
	}
}

section{
	& > header{
		padding:0 $p;
	}
}

.toggleDetails{
	display:block;
	background-color:$mm-dblue;
	color:$mm-green;
	text-decoration:none;
	text-align:center;
	font-size:0px;
	line-height:$p;

	input{
		@include hidden;
	}
}
#complexity{
	background-color:#fff;
	width:100%;
	max-width:$mw;
	z-index:9990;

	&.sticky{
		& + div{
			display:none;
		}
		&.on{
			position:fixed;
			top:0;
			left:50%;
			transform: translateX(-50%);

			.graph{
				opacity:1 !important;
			}
			& + div{
				display:block;
			}
			&:hover{
				opacity:1;
			}

			.details{
				&.off{
					display:none;
				}
				&.on{
					display:block;
				}
			}
			.toggleDetails{
				cursor:pointer;
				line-height:$l;
				font-size:$f;
				&:hover{
					background-color:#444;
				}
			}
		}
	}
	p{
		padding:($l - $f)/2 $p;
		margin-bottom:0;
	}
	a.button{
		display:inline-block;
		color:$mm-blue;
		transition:0.2s color;
		margin-right:$f/4;

		&:hover{
			color:$mm-dblue;
		}
	}
	.graph{
		font-size:0;
		height:$l;
		transition:opacity 0.2s;


		&.off{
			opacity:0;
		}
		&.on{
			opacity:1;
		}
		.intervals > *,
		.progress{
			display:block;
			position:absolute;
			top:0;
			left:0;
			font-size:$f;
			line-height:$l;
			box-sizing:border-box;
			text-align:right;
		}
		.intervals > *{
			padding-left:$p;
			padding-right:$p/2;
			border-style:solid;
			border-color:#ddd;
			color:#ddd;
			border-width:0px;
			border-right-width:2px;
			z-index:9998;

			&:first-child{
				// border-right-width:0;
				display:none;
			}

			@media (max-width: #{$mw}){
				&:last-child{
					border-right-width:0px;
				}
				&:first-child{
					border-left-width:0px;
				}
			}
		}
		.progress{
			background-color:$mm-green;
			color:$mm-dblue;
			transition: width 0.3s;
			z-index:9999;

			& > span{
				padding-right:$p/2;
			}
		}
	}
}

#contact{
	#form{
		width:100%;
		max-width:600px;

		form{
			padding:0 $p;
		}
		label,
		input,
		textarea{
			display:block;
			width:100%;
			resize:none;
      box-sizing:border-box;
		}
		input,
		textarea{
			padding:2px $p/2;
			background-color:#eee;
		}
		input[type=submit]{
			background-color:$mm-blue;
			color:#fff;
			cursor:pointer;
			margin-top:$p;
		}
		.hs_project_description__c{

			textarea{
				color:$mm-blue;
				background-color:#fff;
				padding-left:0;
				overflow:hidden;
			}
		}
		.hs-error-msgs{
			li{
				color:#aaa;
				border-bottom:2px solid #ddd;
			}
		}
	}
	.submitted-message{
		color:$mm-blue;
		padding:0 $p;
	}
}
